{{ define "main" }}
<div class="list">
    {{ range .Paginator.Pages }}
    {{ if ne .File.BaseFileName "cheatsheet" }}
        <div class="listPost">
            <img src={{.Params.image}} alt="{{ .Title }}" class="listPostImage" loading="lazy">
            <div class="listPostTexts">
                <h1 class="listPostTitle">
                    <a href={{.Permalink}}>{{ .Title }}</a>
                </h1>
                <p class="listPostDesc">{{.Params.description}}</p>
                <div class="listPostDetail">
                    <time>{{ .Date | dateFormat .Site.Params.dateFormat }}</time>
                </div>
                <div class="listPostTags">
                    {{ range (.GetTerms "tags")}}
                    <a class="listPostTag" href={{.Permalink}}>{{ .Name }}</a>
                    {{ end }}
                </div>
            </div>
        </div>
        {{ end }}
    {{ end }} {{ template "_internal/pagination.html" . }}
</div>
{{ end }}