{{ define "main" }}
<div class="single">
    <div class="top">
        <div class="topTexts">
            <h1 class="topTextTitle">{{.Title}}</h1>
            <p class="topTextDesc">{{ .Params.description }}</p>
            <div class="topTextDetail">
                <time>{{ .Date | dateFormat .Site.Params.dateFormat }}</time>
            </div>
            <div class="topTextTags">
                {{ range (.GetTerms "tags")}}
                <a class="topTextTag" href={{.Permalink}}>{{ .Name }}</a>
                {{ end }}
            </div>
        </div>
        <img src={{.Params.largeImage}} alt={{.Title}} class="topImage" loading="lazy">
    </div>
    <div class="bottom">
        <div class="content">
        {{ .Content }}
        </div>
    </div>
</div>
{{ end }}