<link rel="stylesheet" href="/styles/footer.css">
<div class="footer">
    <div class="footerlinks">
        <a href="/tags">Tags</a> | 
        <a href="/sitemap.xml">Sitemap</a>
    </div>  
    <div class="social">
        <a href="https://in.linkedin.com/in/sahilrathod017">
            <img src="/svg/linkedin.svg" alt="LinkedIn">
        </a>
        <a href="https://github.com/Sahill17">
            <img src="/svg/github.svg" alt="GitHub">
        </a>
        <a href="/https://x.com/@iamSahil1705">
            <img src="/svg/twitter.svg" alt="X">
        </a>
    </div>
</div>