<link rel="stylesheet" href="/styles/navbar.css">
<nav class="navbar">
    <div class="logo">
        {{ if eq .RelPermalink "/cheatsheet/" }}
            <a class="path" href="/cheatsheet">~/cheatsheet</a>  
        {{ else if eq .RelPermalink "/tags/" }}
            <a  class="path" href="/tags">~/tags</a>  
        {{ else if eq .RelPermalink "/" }}
            <a class="path" href="/">~/</a>  
        {{ else }}
            <a  class="path" href="{{ .Slug }}">~/{{.Title}}</a>
        {{ end }}
    </div>
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="links" id="navbarLinks">
        <a href="/">Home</a>
        <a href="/tags">Tags</a>
        <a href="/cheatsheet">CheatSheet</a>
        <div class="close-button" id="closeButton">✖</div>
    </div>
</nav>
{{ $js := resources.Get "js/toggle.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $js.Permalink }}"></script>